{% extends 'base.html' %}
{%block title %}about{% endblock %}
{% load static%}
{% block content %}

  <h1 class="about text-center">About Us</h1>
  <p>When it comes to reliable curry powders, spice powders, whole spices and instant mixes Miracle Flavors is a household name. Since its establishment in 1987, Miracle Flavors has been the cooking secret of many amateurs and professional cooks throughout Kerala. Now after an impressive makeover with a brand new logo and more attractive packing designs, Devon products are ready to extend its reach to other parts of India as well.

</p>
<div class="container-fluid text-center bg-grey">
  <h2>Company Director</h2>
  <br>
  <div class="row text-center">
    <div class="col-sm-12">
      <div class="thumbnail">
        <img src="/static/image/mem3.jpeg/" width="350">
        <p><strong>C.Chadrasekhar</strong></p>
        <p>Director</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center bg-grey">
  <h2>Board Members</h2>
  <br>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/image/mem1.jpeg/" width="300">
        <p><strong>S.Ramamurthi</strong></p>
        <p>Chairman</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/image/mem2.jpeg/" width="220">
        <p><strong>Padmini Rajeev</strong></p>
        <p>Vice Chairperson</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/image/mem4.jpeg/" width="300">
        <p><strong>Prakash Menon</strong></p>
        <p>Secretary</p>
      </div>
    </div>
</div>


</div>
 {% endblock %}
