{% extends 'base.html' %}
{%block title %}privacy{%endblock%}
{% load static %}
{% block content %}

  <h1 class="about text-center">Privacy Policy</h1>




<p>It is Miracle Flavors (ABN NO 61 608 611 365)  policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to www.miracleflavors.com.au (hereinafter, “us”, “we”, or “www.miracleflavors.com.au”).

We respect your privacy and are committed to protecting personally identifiable information you may provide us through this website. We have adopted this privacy policy (“Privacy Policy”) to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. However, please note that this Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.

This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.</p>
{% endblock %}