{% extends 'base.html' %}
{%block title %}Product {%endblock%}
{% block content %}
<h1 class="text-center">Product List</h1>
<br>
<div class="container text-center bg-dark">
{% for p in product %}
   <div class="card text-center mx-3 my-4" style="width: 16rem; display:inline-block">
    <img src="{{p.image.url}}" alt="" width="80px" height="150px" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{p.name}}</h5>
      <p class="card-text">{{p.price}}</p>
      <p class="card-text">{{p.quantity}}</p>
    <div class="buttons d-flex flex-row">
        <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-primary cart-button btn-block">Add to cart </button>
    </div>
</div>
</div>


{%endfor%}
{% endblock %}
















