{% extends 'base.html' %}
{%block title %}privacy{%endblock%}
{% load static %}
{% block content %}
<h1 class="about text-center">Recipes</h1>
<h2>Red Mushroom Curry</h2>
<img src="/static/image/redmush.jpg/" style="width:70%">
<p>This hot spicy little number is a favourite in my household for dealing with the dreaded cold and flu, or when feeling a little rundown. The combination of garlic, ginger, chilli, tomatoes and a kick of citrus is a feisty relief for the symptoms of even the most grim winter germs. I make a double batch of the paste and pop it in the freezer for future use. Of course, you can use a jar of shop-bought curry paste too, if you are feeling really rough; I’ve been there and I absolutely sympathise. I blitz mine in a blender to get the paste super smooth, but it’s not essential, you can just throw it all in a pan for a similar effect, just with a little extra texture, which is fine.

</p>
<p>Serves 2-4 from 40p each

1 large onion, 9p (90p/1.5kg, Sainsburys Basics)
4 cloves of garlic, 6p (35p/2 bulbs of garlic, Sainsburys Basics)
A small piece of ginger, 3p (30p/100g loose ginger, Sainsburys)
¼ tsp red chilli flakes, 1p (80p/100g, Natco or KTC brand – found at most major supermarkets)
50g tomato passata, 4p (40p/500g, Sainsburys Basics)
200ml coconut milk, 50p (£1/400ml, Sainsburys – currently on special offer until 27th Feb so stock up!)
A generous pinch of salt, 1p (45p/750g, Sainsburys Basics table salt)
1 tsp lemon juice, 1p (60p/250ml, Sainsburys)
400g mushrooms, 85p (85p/400g, Sainsburys Basics)</p>
<p>Peel and finely chop the onion, and peel and finely slice the garlic. Roughly chop the ginger and toss it all into a blender, along with the chilli, tomato puree and 100ml of the coconut milk. Blitz it to a rough paste, and set to one side.

Wash and halve the mushrooms, and toss them into a large pan with a dash of oil and a pinch of salt. Cook on a medium heat to gently brown the outsides for a few minutes, then tip in the curry paste, add the remaining coconut milk, and stir well. Bring to a boil then reduce to a simmer and cook for 20 minutes, until the mushrooms have softened and the curry paste has thickened slightly. I sometimes like to pad mine out with a finely chopped cabbage to make it go further, or a handful of frozen spinach or peas stirred through 5 minutes before the end.

Season with the lemon juice to finish, and serve. It will keep in the fridge for 2 days or in the freezer for up to 6 months.</p>











{% endblock %}
